.inputComponent {
    display: flex;
    flex-direction: column;
    padding-right:15px;
}
.inputComponent label{
    font-family: var(--font-family-bold);
    font-size: var(--font-size-medium);
    
}
.inputComponent .validationBoxError{
    font-size: 13px;
    color: red;
    display: inline-block;
    padding-top: .2rem;
}