
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("../../fonts/Rubik/Rubik-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("../../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("../../fonts/Rubik/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("../../fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("../../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("../../fonts/Rubik/Rubik-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
     url("../../fonts/Rubik/Rubik-Black.ttf") format("truetype");
    font-weight: 900;
}

.container-fluid{
    width:100%;
}
@media screen and (min-width:575.8px){
    .container-fluid{
        padding-left:1rem;
        padding-right: 1rem;
    }
}
@media screen and (min-width:576px){
    .container-fluid{
        padding-left:1rem;
        padding-right: 1rem;
    }
}
@media screen and (min-width:768px){
    .container-fluid{
        padding-left:2rem;
        padding-right: 2rem;
    }
}
@media screen and (min-width:992px){
    .container-fluid{
        padding-left:3rem;
        padding-right: 3rem;
    }
}
@media screen and (min-width:1400px){
    .container-fluid{
        padding-left:4rem;
        padding-right: 4rem;
    }
}