.container-fluid{
    width:100%;
}
@media screen and (min-width:575.8px){
    .container-fluid{
        padding-left:1rem;
        padding-right: 1rem;
    }
}
@media screen and (min-width:576px){
    .container-fluid{
        padding-left:1rem;
        padding-right: 1rem;
    }
}
@media screen and (min-width:768px){
    .container-fluid{
        padding-left:2rem;
        padding-right: 2rem;
    }
}
@media screen and (min-width:992px){
    .container-fluid{
        padding-left:3rem;
        padding-right: 3rem;
    }
}
@media screen and (min-width:1400px){
    .container-fluid{
        padding-left:4rem;
        padding-right: 4rem;
    }
}