.aboutme{
    margin-bottom: 4rem;
}
.aboutme .title_style{
    font-size: var(--font-size-Xlarg);
}
.aboutme .position_title{
    color: var(--color-gray);
    font-size: var(--font-size-medium);
    margin-bottom: 3rem;
}
.aboutme .description-of-me {
    margin-bottom: 2rem;
}
.aboutme .description-of-me p{
    margin-bottom: .8rem;
}
.aboutme a.btn{
    margin-right: 1rem;
}
.skillsSection .col-lg-6{
    border-bottom: 1px solid var(--color-light-gray);
}
.skillsSection .skillsBox{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
}
.disceription_job ul li{
    padding-left: 1rem;
    position: relative;
    margin-bottom: .5rem;
}
.disceription_job ul li:before{
    width: 8px;
    height: 2px;
    background: var(--color-primary);
    position: absolute;
    content:"";
    top: 14px;
    left: 0;
}
