.title-style{
    margin-bottom: 2rem;
    font-weight: var(--font-weight-500);
    position: relative;
}
.title-style span.squer {
    position: absolute;
    width: 60px;
    height: 5px;
    left: 0;
    bottom: -12px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-3);
}
.title-style.text-center span{
    left: 50%;
    transform: translateX(-50%);
}
