.title-style{
    margin-bottom: 2rem;
    font-weight: bold;
    position: relative;
}
.title-style span {
    position: absolute;
    width: 60px;
    height: 5px;
    left: 0;
    bottom: -12px;
}
.title-style.text-center span{
    left: 50%;
    transform: translateX(-50%);
}