.ContactInfo {
    margin: 1.5rem 0;
}
.ContactInfo .TitleInfo{
    margin-bottom: .5rem;
    font-size: var(--font-size-body);
    color: var(--color-gray);
}
footer .ContactInfo .TitleInfo{

    color: var(--color-shadow);
}
.ContactInfo .DescriptionInfo{
    font-size: var(--font-size-medium);
}
@media screen and (min-width:992px){
    .ContactInfo {
        margin: 3rem 0;
    }
}