.footer .container{
    border-top: 1px solid var(--color-light-gray);
}
.footer .row {
    display: flex;
    align-items: center;
}

.footer .rightFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .rightFooter .ContactInfo {
    margin-left: 15px;
    margin-right: 15px;
}

.footer .ContactInfo .TitleInfo,
.footer .TitleInfo{
    color: var(--color-shadow);
    font-weight: var(--font-weight-500);
}
.footer .TitleInfo{
    margin-bottom: 0.5rem;
}
.footer .ContactInfo .DescriptionInfo,
.footer .DescriptionInfo{
    font-size: var(--font-size-body);
}
.footer .ContactInfo .DescriptionInfo a {
    margin-left: 5px;
    margin-right: 5px;
}
.footer .ContactInfo{
    margin: 1.5rem 0;
}
@media screen and (max-width:991.98px){
    .footer .rightFooter,
    .footer .leftFooter{
        display: flex;
        justify-content: center;
    }
    .footer .rightFooter{
        order: 1;
    }
    .footer .leftFooter{
        order: 2;
    }
}
@media screen and (max-width:767.98px){
    .footer .rightFooter{
        flex-direction: column;
    }
    .footer .rightFooter .ContactInfo{
        margin: .5rem 0;
    }
    .footer .leftFooter{
        margin-bottom: .5rem;
    }
}
