.footer .row {
    display: flex;
    align-items: center;
}

.footer .rightFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .rightFooter .ContactInfo {
    margin-left: 15px;
    margin-right: 15px;
}

.footer .ContactInfo .TitleInfo,
.footer .TitleInfo{
    color: var(--color-shadow);
    font-weight: var(--font-weight-bold);
}
.footer .TitleInfo{
    margin-bottom: 0.5rem;
}
.footer .ContactInfo .DescriptionInfo,
.footer .DescriptionInfo{
    font-size: var(--font-size-body);
}
.footer .ContactInfo .DescriptionInfo a {
    margin-left: 5px;
    margin-right: 5px;
}
