.InfoBox{
    margin-bottom: 4rem;
}
.InfoBox .title_info{
    color: var(--color-black);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-500);
    margin-bottom: .5rem;
}
.InfoBox .description-Info{
    font-size: var(--font-size-medium);
    color: var(--color-gray);
}
